@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  @apply bg-[var(--semi-color-bg-0)] text-[var(--semi-color-text-0)] text-[13px] h-screen flex flex-col overflow-hidden font-sans;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--semi-color-nav-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--semi-color-text-3);
}